<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heida.dao.OrderDao">


    <insert id="insert" parameterType="Order">

        insert into t_order(order_no,order_status,user_id,recv_name,recv_address,recv_mobile,postage,amount,create_time)
        value (#{orderNo},#{orderStatus},#{userId},#{recvName},#{recvAddress},#{recvMobile},#{postage},#{amount},#{createTime})
        <selectKey resultType="Integer" keyProperty="orderId">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>













</mapper>
